* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vh;
  margin: 0 auto;
}
.container > div > img {
  width: 33%;
  aspect-ratio: 1;
  display: inline-block;
  margin: 0 auto;
  object-fit: cover;
  padding: 0.5rem;
}
